<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
        <pages>
            <controls>
                <add assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" tagPrefix="aj1"/>
            </controls>
        </pages>
    </system.web>
    <connectionStrings>
        <add name="CHConnectionString" connectionString="server=BUNNYPEDDI-PC\SQLEXPRESS;database=CampusHunt;Integrated Security=true;user id=sa;password=bunny"/>
    </connectionStrings>
</configuration>
